<ion-view view-title="书签">
  <ion-content class="has-tabs-top">
      <div class="list">
        <div class="row responsive-sm" ng-repeat="rows in chunks">
          <div class="col-33" ng-repeat="entry in rows">
            <div class="card">
              <a href="{{entry.url}}" target="_blank" style="text-decoration: none;">
              <div class="item item-thumbnail-left">
                <img ng-src="{{entry.url | favicon}}">
                <h2>{{entry.title}}</h2>
                <p>{{entry.remark}}</p>
              </div>
              <!-- <div class="item item-text-wrap">
                detail mode
              </div> -->
              </a>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
