<ion-modal-view>
  <ion-header-bar class="bar-positive fix-buttons">
    <a class="button" ng-click="closeModal()">取消</a>
    <h1 class="title">新建书签</h1>
  </ion-header-bar>
  <ion-content>
    <form name="entryForm" ng-submit="submitEntry(entryForm.$valid)" novalidate>
      <div ng-show="entryForm.$submitted">
        <button class="button button-full button-assertive" ng-show="entryForm.url.$error.url || entryForm.url.$error.required">非法url地址</button>
        <button class="button button-full button-assertive" ng-show="entryForm.title.$error.required">请填写书签标题</button>
        <button class="button button-full button-assertive" ng-show="entryForm.belong.$error.required">请选择收藏夹</button>
      </div>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label"></span>
          <input type="url" placeholder="URL(*必填)" name="url" ng-model="newEntry.url" required="">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label"></span>
          <input type="text" placeholder="书签标题(*必填)" name="title" ng-model="newEntry.title" required="">
        </label>
        <label class="item item-input">
          <textarea placeholder="备注" ng-model="newEntry.remark"></textarea>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            收藏夹
          </div>
          <select name="belong" ng-model="newEntry.belong" required="">
            <option ng-repeat="favor in $root.favorites" value="{{favor.id}}" ng-selected="selectedEntry.belong == favor.id">{{favor.name}}</option>
          </select>
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive activated" type="submit">创建书签</button>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
