<ion-view view-title="收藏夹">
  <ion-content class="has-tabs-top">
    <div class="list">
      <ion-item click-for-options class="item" ng-click="showFavorite({{favor.id}})" ng-repeat="favor in $root.favorites">
        {{favor.name}}
        <span class="item-note">
          {{favor.entries_num}}
        </span>
        <ion-option-button class="button-positive" ng-click="editFavorite(favor)">
          编辑
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="removeFavorite(favor)">
          删除
        </ion-option-button>
      </ion-item>
      <ion-item ng-click="addFavorite()" class="item item-icon-left stable-bg">
        <i class="icon ion-ios-plus-empty"></i>
        新建
      </ion-item>
    </div>
  </ion-content>
</ion-view>
