<ion-modal-view>
  <ion-header-bar class="bar-positive fix-buttons">
    <a class="button" ng-click="closeModal()">取消</a>
    <h1 class="title">{{favor.name}}</h1>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <div class="row responsive-sm" ng-repeat="rows in favorites">
        <div class="col-33" ng-repeat="entry in rows" >
          <div class="card bookmark">
            <ion-item ng-href="{{entry.url}}" class="item item-thumbnail-left" target="_blank" >
              <img ng-src="{{entry.url | favicon}}">
              <h2>{{entry.title}}</h2>
              <p>{{entry.remark}}</p>
            </ion-item>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
