<ion-view>
  <ion-content>
    <form ng-submit="login()" ng-controller="LoginCtrl">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">用户名</span>
          <input type="text" ng-model="username">
        </label>
        <label class="item item-input">
          <span class="input-label">密码</span>
          <input type="password" ng-model="password">
        </label>
        <ion-checkbox ng-model="rememberMe">记住我</ion-checkbox>
        <label class="item">
          <button class="button button-block button-positive" type="submit">登录</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
