<ion-view view-title="登录">
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <form ng-submit="login()" ng-controller="LoginCtrl">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">用户名</span>
          <input type="text" ng-model="username">
        </label>
        <label class="item item-input">
          <span class="input-label">密码</span>
          <input type="password" ng-model="password">
        </label>
        <ion-toggle toggle-class="toggle-positive" ng-model="rememberMe">记住我</ion-toggle>
        <div class="spacer" style="height: 40px;"></div>
        <button class="button button-positive button-block " type="submit">登录</button>
        <a href="#/app/signup" class="button button-positive button-clear button-block ">点击注册一个新用户</a>
      </div>
    </form>
  </ion-content>
</ion-view>
