<ion-tabs class="tabs-top tabs-striped tabs-background-calm tabs-color-light">
  <ion-tab title="Bookmarks" icon="icon ion-home" href="#/app/main/bookmarks">
    <ion-nav-view name="tab-bookmarks" nav-transition="ios"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Favorites" icon="icon ion-heart" href="#/app/main/favorites">
    <ion-nav-view name="tab-favorites" nav-transition="ios"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Setting" icon="icon ion-gear-b" href="#/app/main/setting">
    <ion-nav-view name="tab-setting" nav-transition="ios"></ion-nav-view>
  </ion-tab>
</ion-tabs>
