<ion-popover-view style="height:auto;">
    <div class="list" style="margin-bottom:0;">
      <ion-item class="item" ng-href="{{deatailEntry.url}}" target="_blank">
          打开
      </ion-item>
      <ion-item class="item" ng-show="!$root.fromBrowser" ng-click="copyEntryLink(deatailEntry.url)" target="_blank">
          复制链接
      </ion-item>
      <ion-item class="item" ng-click="editEntry(deatailEntry.id)">
          编辑
      </ion-item>
      <ion-item class="item" ng-show="!$root.fromBrowser" ng-click="shareEntry(deatailEntry)">
          分享
      </ion-item>
      <ion-item class="item" ng-click="removeEntry(deatailEntry)">
          删除
      </ion-item>
      <ion-item class="item" ng-click="showDetail(deatailEntry)">
          详细信息
      </ion-item>
    </div>
</ion-popover-view>
