<ion-view view-title="搜索">
  <ion-content has-header="true">
    <div class="list" ng-controller="BookmarkCtrl">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="输入要查找的书签信息..." ng-model="query[queryBy]">
          <button class="button button-small button-clear">
            <!-- <i class="icon ion-chevron-down"></i> -->
          </button>
        </label>
        <!-- <ion-list>
          <ion-radio ng-model="choice" ng-value="'title'">按标题</ion-radio>
          <ion-radio ng-model="choice" ng-value="'tag'">按标签</ion-radio>
        </ion-list> -->
      </div>
      <ion-item class="item item-thumbnail-left" ng-href="{{entry.url}}" target="_blank" click-for-options ng-repeat="entry in $root.entries | filter:query">
        <!-- <img ng-src="{{entry.url | favicon}}"> -->
        <img ng-src="bookmark.png">
        <h2>{{entry.title}}</h2>
        <p>{{entry.remark}}</p>
        <ion-option-button class="button-calm" ng-click="editEntry(entry.id)">
          编辑
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-click="removeEntry(entry)">
          删除
        </ion-option-button>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
