<ion-view view-title="设置">
  <ion-content class="has-tabs-top">
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          书签显示风格
        </div>
        <select ng-model="displayStyle"
          ng-change="changeDisplayStyle(displayStyle)">
          <option>详细</option>
          <option>默认</option>
          <option>简短</option>
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          布局风格
        </div>
        <select ng-model="layoutStyle" ng-change="changeLayoutStyle(layoutStyle)">
          <option>宽</option>
          <option>默认</option>
          <option>窄</option>
        </select>
      </label>
      <ion-item class="destructive" ng-controller="LoginCtrl" ng-click="logout()">
        <strong>退出</strong>
      </ion-item>
    </div>
  </ion-content>
</ion-view>
